extends layout

block content
  h1= title
  p Welcome to #[em Colorado Adventure Rentals Inc.]! This is your go-to website to rent equipment needed to enjoy the CO outdoors all year long!

  h2 This store has the following to choose from:
  ul
    li #[strong Categories:] !{categoryCount}
    li #[strong Items:] !{itemCount}